<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <groups>
        <run>
            <include name="pack01"/>
            <include name="pack02"/>
                </run>
            </groups>
    <test name="GropuAttributes">
        <classes>
            <class name="com.tesng.session.GropuAttributes"></class>

        </classes>
    </test>

</suite>