<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test
          name="C:/Users/Makhan AutomationHub/IdeaProjects/java_with_selenium/src/test/java/com/tesng/session/TestNgParameterGoogleSearch.java">
        <parameter name="keyword" value="I am John"></parameter>

        <classes>
            <class name="com.tesng.session.TestNgParameterGoogleSearch"/>
        </classes>

    </test>
</suite>